<table>
  <tr>
    <th>Name</th>
    <th>Mocks</th>
    <th>Comments</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.mocks.count %></td>
      <td><%= user.comments.count %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= User.count %></td>
    <td><%= Mock.count %></td>
    <td><%= Comment.count %></td>
  </tr>
</table>
