<p>
  <strong><%= @comment.author.first_name %></strong>:<br />
  &ldquo;<%= @comment.text %>&rdquo;
</p>

<p>
  <%= link_to "Reply to #{@comment.author.first_name}",
    mock_url(@comment.mock) %>
</p>

<% if @comment.parent_id || @comment.siblings.any? %>
----
<% end %>

<% if @comment.parent_id && @comment.siblings.any? %>
  <% @comment.siblings.sort_by(&:created_at).reverse.each do |c| %>
    <p>
      <strong><%= c.author.first_name %></strong>:<br />
      &ldquo;<%= c.text %>&rdquo;
    </p>
  <% end %>
<% end %>

<% if @comment.parent_id %>
  <p>
    <strong><%= @comment.parent.author.first_name %></strong>:<br />
    &ldquo;<%= @comment.parent.text %>&rdquo;
  </p>
<% end %>
