<%= stylesheet_link_tag "settings/users" %>

<%= render :partial => "/shared/subnav",
           :locals => {
             :header => "Settings",
             :links => [
               ["Users", users_path],
               ["Email", email_settings_path],
               ["Campfire", campfire_settings_path]
             ]
           } %>

<div id="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Facebook UID</th>
      <th>Email</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.facebook_uid %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td class="actions">
          <%= link_to "Edit", edit_user_path(user) %>
          <% if viewer != user %>
            <span class="divider">|</span> <%= link_to "Remove",
              user_path(user, :user => {:active => :false}), :method => :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tfoot>
      <tr class="add_user_row">
        <td colspan="4">
          <%= link_to "+ Add a User", new_user_path,
            :class => "secondary button" %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
