<% offset = (page.to_i - 1) * Mock::DISPLAY_LIMIT %>
<% Mock.recent(Mock::DISPLAY_LIMIT).offset(offset).with_author_and_project_data.
    in_groups_of(3, false) do |mocks| %>
  <ul class="mock_grid clearfix" id="mock_set_<%= page %>">
    <% mocks.each do |mock| %>
      <li<%= ' class="fresh"' if mock.fresh?(viewer) %>>
        <div class="preview_container">
          <%= link_to image_tag(mock.image.url(:thumb)),
            mock_path(mock) %>
        </div>
        <div class="text">
          <%= link_to mock.title, mock_path(mock) %>
          <div class="meta">
            by <%=h mock.author.first_name %> -
            <%= distance_of_time_in_words_to_now mock.created_at %> ago
            <br />
            in <%= link_to mock.project.title,
                           project_path(mock.project) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
