<% offset = (page.to_i - 1) * Mock::DISPLAY_LIMIT %>
  <% Mock.recent(Mock::DISPLAY_LIMIT).offset(offset).with_author_and_project_data.each do |mock| %>
    <li<%= raw(' class="fresh" ') if mock.fresh?(viewer) %> data-author="<%=mock.author_id%>">
    <div class="preview_container">
      <%= link_to image_tag(mock.image.url(:thumb)), mock_path(mock) %>
    </div>
    <div class="text">
      <%= link_to mock.title, mock_path(mock) %>
      <div class="meta">
        in <%= link_to mock.project.title, project_path(mock.project) %>
      </div>
    </div>
    </li>
  <% end %>
