<% @title = "Home" %>

<%= stylesheet_link_tag "shared/mock_grid", "home" %>
<%= javascript_include_tag "home/index" %>
<%= javascript_include_tag "jquery-ujs-rails" %>

<script type="text/javascript">
  var TOTAL_PAGES = <%= Mock.total_pages %>;
</script>

<div id="primary_col">
  <div id="recent_mocks">
    <h2>Recent Mocks</h2>
      <%= render :partial => "recent_mock_set", :locals => {:page => 1} %>
      <% if Mock.count > Mock::DISPLAY_LIMIT %>
        <%= link_to_function "More", '', :class => "more rounded" %>
      <% end %>
  </div>
</div>

<div id="secondary_col">
  <input type="text" class="project_filter" placeholder="Find Project" />
  <% if Project.active.any? %>
    <h2>Active Projects</h2>
    <ul class="project_list active">
      <% Project.active.each do |project| %>
        <li><%= link_to project.title, project_path(project) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if Project.current.any? %>
    <h2>Current Projects</h2>
    <ul class="project_list current">
      <% Project.current.all.each do |project| %>
        <li>
          <%= link_to raw("&times;"), archive_project_path(project),
                :confirm => "Are you sure you want to archive this project?",
                :method => :put, :class => "archive" %>
          <%= link_to project.title, project_path(project) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if Project.all.any? %>
    <a href="#" id="show_all_projects">Show All Projects</a>
    <div id="all_projects">
      <h2>All Projects</h2>
      <ul class="project_list all">
        <% Project.all.each do |project| %>
          <li><%= link_to project.title, project_path(project) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
