<% @title = "Home" %>

<%= stylesheet_link_tag "shared/mock_grid", "home" %>
<%= javascript_include_tag "home/index" %>

<script type="text/javascript">
  var TOTAL_PAGES = <%= Mock.total_pages %>;
</script>

<div id="primary_col">
  <div id="recent_mocks">
    <h2>Recent Mocks</h2>
      <%= render :partial => "recent_mock_set", :locals => {:page => 1} %>
      <% if Mock.count > Mock::DISPLAY_LIMIT %>
        <%= link_to_function "More", '', :class => "more rounded" %>
      <% end %>
  </div>
</div>

<div id="secondary_col">
  <% if Project.active.any? %>
    <h2>Active Projects</h2>
    <ul class="project_list">
      <% Project.active.each do |project| %>
        <li><%= link_to project.title, project_path(project) %></li>
      <% end %>
    </ul>
  <% end %>
  <% if Project.all.any? %>
    <h2>All Projects</h2>
    <ul class="project_list">
      <% Project.alphabetical.all.each do |project| %>
        <li><%= link_to project.title, project_path(project) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
