<% @title = "Upload Mocks" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "shared/form",
                          "mocks/new" %>
  <%= javascript_include_tag "plugins/jquery.ui.widget",
  			          		   	   "plugins/jquery.iframe-transport",
  						               "plugins/jquery.fileupload",
                             "mocks/new" %>
<% end %>

<div class="form_holder debossed">
  <% form_for :mock, :url => mocks_path, :html => {:multipart => true,
      :id => "mock_creation_form"} do |f| %>
    <%= f.hidden_field :path, :value => "" %>
    <%= f.hidden_field :author_id, :value => viewer.id %>
    <input type="file" name="images[]" id='file' multiple
      style="display: none" />
    <%= f.hidden_field :mock_list_id, :value => params[:mock_list_id] %>
    <%= hidden_field_tag :project_id, params[:project_id] %>
    <div class="instructions">Drag &amp; Drop Your Files to Upload</div>
    <div class="loading rounded"></div>
  <% end %>
</div>

<p class="cancel_bar">
	<% if params[:project_id] %>
    <%= link_to "Back to Project", project_path(params[:project_id]) %>
	<% end %>
</p>
