<% @title = "Add a Mock" %>

<%= stylesheet_link_tag "shared/form" %>
<%= stylesheet_link_tag "mocks/new" %>

<div class="form_holder debossed">
  <% form_for :mock, :url => mocks_path, :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :path, :value => "" %>
    <%= f.hidden_field :author_id, :value => viewer.id %>
    <div class="field_row">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>
    <div class="field_row">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <% if params[:mock_list_id].blank? %>
      <div class="field_row">
        <% fields_for :project do |g| %>
          <%= g.label :id, "Add to Project:" %>
          <%= g.select :id, Project.form_options,
            {:selected => params[:project_id].to_i,
             :disabled => Project::DISABLED_PROJECT_FORM_VALUE} %>
        <% end %>
      </div>
    <% else %>
      <%= f.hidden_field :mock_list_id, :value => params[:mock_list_id] %>    
    <% end %>

      <%= check_box_tag :send_email %>
    <% if Setting[:notification_email] %>
      Send email to
      <span id="default_email">
        <strong><%= Setting[:notification_email] %></strong>      
        <%= link_to_function "change",
          "$('#email').show().select(); $('#default_email').hide()" %>
      </span>
      <%= text_field_tag :email, Setting[:notification_email],
        :style => "display: none" %>
    <% else %>
      <%= label_tag :send_email, "Send email to" %>
      <%= text_field_tag :email %>
    <% end %>

    <div class="submit_bar">
      <% if params[:project_id] %>
        <%= link_to "Cancel", project_path(params[:project_id]) %>
      <% else %>
        <%= link_to "Cancel", home_path %>
      <% end %>
      or <%= f.submit "Create Mock" %>
    </div>
  <% end %>
</div>
