<% @title = @mock.title %>
<% content_for :head do %>
  <%= stylesheet_link_tag "shared/draggable_mock_creation", "mocks/show" %>
  <style type="text/css">
    <% Comment.feelings.each do |feeling| %>
      li.<%= feeling %> {
        background-image: url("/images/feelings/<%= feeling %>.gif");
      }
    <% end %>
  </style>
  <%= javascript_include_tag "shared/draggable_mock_creation" %>
<% end %>

<%= render :partial => "mocks/new_award" %>  

<div style="position: relative">
  <%= render :partial => "mocks/mockr_header" %>
  
  <div id="sidebar">
    <%= render :partial => "mocks/feedback_filters" %>
    <%= render :partial => "mocks/add_feedback_form" %>
    <%= render :partial => "mocks/comments" %>
  </div>

  <div id="mock">
    <%= image_tag(@mock.image.url) %>
  </div>
</div>

<%= render :partial => "mocks/next_version_form" %>